In [4]:
import pandas as pd
import sklearn as skl

In [43]:
data = pd.read_csv("adult.data",delimiter="\n", header=None)
print(data)

                                                       0
0      39, State-gov, 77516, Bachelors, 13, Never-mar...
1      50, Self-emp-not-inc, 83311, Bachelors, 13, Ma...
2      38, Private, 215646, HS-grad, 9, Divorced, Han...
3      53, Private, 234721, 11th, 7, Married-civ-spou...
4      28, Private, 338409, Bachelors, 13, Married-ci...
5      37, Private, 284582, Masters, 14, Married-civ-...
6      49, Private, 160187, 9th, 5, Married-spouse-ab...
7      52, Self-emp-not-inc, 209642, HS-grad, 9, Marr...
8      31, Private, 45781, Masters, 14, Never-married...
9      42, Private, 159449, Bachelors, 13, Married-ci...
10     37, Private, 280464, Some-college, 10, Married...
11     30, State-gov, 141297, Bachelors, 13, Married-...
12     23, Private, 122272, Bachelors, 13, Never-marr...
13     32, Private, 205019, Assoc-acdm, 12, Never-mar...
14     40, Private, 121772, Assoc-voc, 11, Married-ci...
15     34, Private, 245487, 7th-8th, 4, Married-civ-s...
16     25, Self-emp-not-inc, 176756, HS-grad, 9, Neve...
17     32, Private, 186824, HS-grad, 9, Never-married...
18     38, Private, 28887, 11th, 7, Married-civ-spous...
19     43, Self-emp-not-inc, 292175, Masters, 14, Div...
20     40, Private, 193524, Doctorate, 16, Married-ci...
21     54, Private, 302146, HS-grad, 9, Separated, Ot...
22     35, Federal-gov, 76845, 9th, 5, Married-civ-sp...
23     43, Private, 117037, 11th, 7, Married-civ-spou...
24     59, Private, 109015, HS-grad, 9, Divorced, Tec...
25     56, Local-gov, 216851, Bachelors, 13, Married-...
26     19, Private, 168294, HS-grad, 9, Never-married...
27     54, ?, 180211, Some-college, 10, Married-civ-s...
28     39, Private, 367260, HS-grad, 9, Divorced, Exe...
29     49, Private, 193366, HS-grad, 9, Married-civ-s...
...                                                  ...
32531  30, ?, 33811, Bachelors, 13, Never-married, ?,...
32532  34, Private, 204461, Doctorate, 16, Married-ci...
32533  54, Private, 337992, Bachelors, 13, Married-ci...
32534  37, Private, 179137, Some-college, 10, Divorce...
32535  22, Private, 325033, 12th, 8, Never-married, P...
32536  34, Private, 160216, Bachelors, 13, Never-marr...
32537  30, Private, 345898, HS-grad, 9, Never-married...
32538  38, Private, 139180, Bachelors, 13, Divorced, ...
32539  71, ?, 287372, Doctorate, 16, Married-civ-spou...
32540  45, State-gov, 252208, HS-grad, 9, Separated, ...
32541  41, ?, 202822, HS-grad, 9, Separated, ?, Not-i...
32542  72, ?, 129912, HS-grad, 9, Married-civ-spouse,...
32543  45, Local-gov, 119199, Assoc-acdm, 12, Divorce...
32544  31, Private, 199655, Masters, 14, Divorced, Ot...
32545  39, Local-gov, 111499, Assoc-acdm, 12, Married...
32546  37, Private, 198216, Assoc-acdm, 12, Divorced,...
32547  43, Private, 260761, HS-grad, 9, Married-civ-s...
32548  65, Self-emp-not-inc, 99359, Prof-school, 15, ...
32549  43, State-gov, 255835, Some-college, 10, Divor...
32550  43, Self-emp-not-inc, 27242, Some-college, 10,...
32551  32, Private, 34066, 10th, 6, Married-civ-spous...
32552  43, Private, 84661, Assoc-voc, 11, Married-civ...
32553  32, Private, 116138, Masters, 14, Never-marrie...
32554  53, Private, 321865, Masters, 14, Married-civ-...
32555  22, Private, 310152, Some-college, 10, Never-m...
32556  27, Private, 257302, Assoc-acdm, 12, Married-c...
32557  40, Private, 154374, HS-grad, 9, Married-civ-s...
32558  58, Private, 151910, HS-grad, 9, Widowed, Adm-...
32559  22, Private, 201490, HS-grad, 9, Never-married...
32560  52, Self-emp-inc, 287927, HS-grad, 9, Married-...

[32561 rows x 1 columns]

In [44]:
data.iloc[0]

0    39, State-gov, 77516, Bachelors, 13, Never-mar...
Name: 0, dtype: object